/app/backend/node_modules
/app/backend/.env

/app/frontend/node_modules
/app/frontend/.firebase
/app/frontend/.firebaserc
/app/frontend/firebase.json
/app/frontend/build
/app/frontend/dist
/app/frontend/public
/app/frontend/src/assets
/app/frontend/src/config.js
/app/frontend/.env









