@import '../../Variables.scss';

.social-share {
    display: flex;
    gap: .5rem;

    a {
        background-color: $primary-color;
        font-size: 1rem;
        padding: .5rem .8rem;
        border-radius: $sm-border-radius;
        opacity: .5;
        cursor: pointer;

        &:hover,
        &:active {
            opacity: 1;
        }

        i {
            color: $light-color;
        }
    }
}