.edit-lot-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    label {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}