@import '../../Variables.scss';

.tag-list {
    a {
        display: inline-block;
        font-size: .8rem;
        padding: .4rem .7rem;
        margin-top: .4rem;
        margin-right: .4rem;
        color: #888888;
        border: $border;
        cursor: pointer;

        &:hover,
        &:active {
            background-color: $primary-color;
            color: $light-color !important;
        }
    }
}