$primary-color: #286955;
$primary-dark-color: #353535;
$primary-medium-dark-color: #3c3c3c;
$primary-medium-dark-color-op-60: #3c3c3cd5;

$light-color: #ffffff;
$medium-light-color: #e1e1e1;

$dark-color: #2e3a32;
$medium-dark-color: #888888;

$accent-color: #ebcb57;
$success-color: #b9eabb;
$blue-color: #a7c7e7;
$danger-color: #ff6961;
$gray-color: #f4f4f4;
$primary-gradient: linear-gradient(90deg, rgba(40, 105, 85, 1) 0%, rgba(20, 59, 47, 1) 100%);
$modal-bg: #fffffffc;

$border: 1px solid #188c911a;
$lg-border-radius: 2rem;
$sm-border-radius: .3rem;

$box-shadow: 0 2px 8px #0000001a;

$main-transition: all .3s;