@import '../../Variables.scss';

.breadcrumbs {
    background: $primary-color;
    background: $primary-gradient;
    color: $light-color;
    padding: 1rem 0;

    h3 {
        margin-bottom: 0;
    }

    .path {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .breadcrumbs {
        .path {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            a {
                color: $light-color;
            }

            i {
                font-size: .5rem;
            }

            .actual-location {
                color: $accent-color;
            }
        }
    }
}